<form method="POST" action="/dinosaurs"> <!-- action will post this form to the /dinosaurs page-->
    <label for="dinosaurType">Type</label>
    <input id="dinosaurType" type="text" name="type">
    <label for="dinosaurName">Name</label>
    <input id="dinosaurName" type="text" name="name"><!--Whatever we name name!!! In this case, 'name' , that will be the key-->
    <input type="submit">
</form>